/*
*@Description: Iverson 2012 Chinese line
*@Author: guwei
*@Update: guwei(2012-08-26 22:00)
*/
/* Set inline, reduce floating brings bug */
.fn-left,.fn-right {display:inline}
.fn-left {float:left}
.fn-right {float:right}
.fn-clear:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0}
.fn-clear { zoom:1;/* for IE6 IE7 */ }
/*tour-warp style*/
.tour-warp{width:100%;padding:484px 0 0;background:#000 url(../images/bg-01.png) center 0 no-repeat}
.tour-warp img{vertical-align:bottom}
.tour-content a{color:#fff}
.tour-content a:hover{text-decoration:underline;background-color:transparent}
.tour-content p{text-indent:0;line-height:150%}
.tour-content textarea,.tour-content input{margin:0;padding:0;border:0}
.tour-content textarea{overflow:auto;vertical-align:top}
.tour-content iframe{padding:0;margin:0}
.tour-content input{cursor:pointer}

/*Main Content*/
.tour-content{width:980px;margin:0 auto;font-size:12px;font-family:\5b8b\4f53;color:#fff;background: url("../images/bg-02.png") center top no-repeat}
/*video Content*/
.video-con{padding:10px 13px;position:relative;overflow:hidden;_zoom:1}
.main-stage{position:absolute;left:50%;width:550px;;height:412px;margin:0 0 0 -273px}
.main-stage .hd{}
.main-stage .hd .video-t{font:700 18px/34px \5fae\8f6f\96c5\9ed1}
.main-stage .hd .v-title{position:absolute;top:0;right:0;font:12px/34px \5b8b\4f53;color:#fff}
#video-list .list-col{padding:42px 0 0}
#video-list .list-col p{color:#ddd;padding:8px 0;text-align:center}
#video-list .list-col li{_display:inline;background:url("../images/video-on.png") 54px 30px no-repeat}
#video-list a{display:block;width:138px;height:86px;border:3px solid #350000;background-color:#000;opacity: 0.3;filter:alpha(opacity=30)}
#video-list a.on,#video-list a:hover{opacity:1;filter:alpha(opacity=100)}


/*main Content*/
.tour-left-col{float:left;width:715px}
.tour-right-col{float:right;width:250px}
/*box module*/
.tour-box{margin:0 0 10px;border:1px solid #350000;background-color:#520303}
.tour-box a{color:#fff}
.tour-box .hd{position:relative;height:31px;background:url(../images/box-title.png)}
.tour-box .hd h3{font:700 14px/31px \5fae\8f6f\96c5\9ed1;text-indent:10px}
.tour-box .hd .hd-more{position:absolute;top:0;right:10px;line-height:31px;color:#fff}
/*picture module*/
.img-list{padding:15px 0}
.img-list li{float:left;width:25%;text-align:center}
.img-list li img{border:3px solid #350000}
.img-list li p{display:block;padding:12px 0;}
/*comment module*/
.comment-warp{padding:0 0 10px;background:#520303 url("../images/box-bg-03.png") bottom right no-repeat}
.comment-warp .bd{padding:10px}
.comment-respond{width:673px;height:150px;padding:10px;background:url(../images/box-bg-02.png)}
.comment-respond .comment-form{overflow:hidden;_zoom:1}
.comment-face{float:left;margin:0 10px 0 0;_margin:0 7px 0 0}
.comment-form .form-textarea{height:90px;width:99.99%;margin:0 0 10px}
.comment-form .form-actions{font-size:14px;text-align:left}
.form-actions .btn-comment{float:right;width:75px;height:30px;font-size:14px;border-radius:3px;background-color:#520303;color:#fff}
.form-actions a{text-decoration:underline}
.comment-list{padding:10px 10px 25px}
.comment-list li{padding:20px 0 50px 88px;border-bottom:1px dashed #460000;position:relative;_zoom:1}
.comment-list .comment-face{float:none}
.comment-list .comment-tit{font-size:14px;line-height:100%;margin:0 0 10px}
.comment-list .comment-bd{min-height:56px;*min-height:48px;_height:53px}
.comment-list .comment-face span{line-height:12px}
.comment-list .comment-face img{position:absolute;left:0;top:15px;border:2px solid #350000}
.comment-list .comment-meta{position:absolute;bottom:20px;left:88px}
/*pageNum*/
.pagination{float:right}
.pagination a,.pagination span{float:left;margin:0 0 0 -1px;border:1px solid #fff;padding:1px 9px;_position:relative;color:#fff}
.pagination a.next{width:auto;}
/*right module*/
.right-col1{padding:10px;background:#520303 url("../images/box-bg-01.png") bottom right no-repeat;}
.right-col1 li{font-size:14px;line-height:24px;}
.right-col2{padding:10px}
.right-col2 li{padding:10px 0;list-style:disc inside;font-size: 14px}
/*weibo show*/
.weibo-xiu{height:300px;overflow:hidden}
/*sponsor*/
.right-col3{padding:10px 0 25px 0;background:#520303 url("../images/box-bg-04.png") bottom right no-repeat}
.right-col3 li{float:left;width:50%;height:40px;padding:10px 0;text-align:center}
/*foot*/
#footer{height:175px;padding:80px 0 0;margin:0 auto;text-align:center;background:#000 url("../images/bg-03.png") bottom center no-repeat;color:#8c7e76}
#footer a{color:#8c7e76}
#footer a:hover{background-color:transparent;text-decoration:underline}
